.App {
  max-width: 100vw;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#video {
  position: fixed;
  z-index: 999;
  top: 2%;
  left: 2%;
}


video.square {
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

video.landscape {
  width: 260px;
  height: 180px;
  border-radius: 10px;
}

video.portrait {
  width: 180px;
  height: 260px;
  border-radius: 10px;
}